.bg-gradient-primary {
  /*background-color: white;*/
  background-image: linear-gradient(180deg, black 10%, #8191a2 100%);
  /*background-size: cover;*/
}

.primary-background-branding-color {
  background-color: black;
}

.primary-background-branding-color:hover {
  background-color: rgb(78, 78, 78);
}

.secondary-background-branding-color {
  background-color: #8191a2;
}

.primary-text-branding-color {
  color: black !important;
}

.primary-text-branding-color:hover, .primary-text-branding-color:focus, .primary-text-branding-color:active {
  color: #8191a2 !important;
}

.secondary-text-branding-color {
  color: #8191a2 !important;
}

.secondary-text-branding-color:hover, .secondary-text-branding-color:focus, .secondary-text-branding-color:active {
  color: black !important;
}

